*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #8460ed, #ff1252);

    .menuContainer{
        position: relative;
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;

        .toggleBtn{
            position: absolute;
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;
            z-index: 10000;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
            font-size: 2rem;
            transition: transform 1.12s;
            color: #8460ed;
        }

        li{
            position: absolute;
            list-style: none;
            transform-origin: 100px;
            left: 0;
            transition: 0.5s;
            transition-delay: calc(0.1s * var(--i));
            transform: rotate(0deg) translateX(80px);

            a{
                text-decoration: none;
                font-weight: 400;
                color: #8460ed;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                background: #fff;
                border-radius: 50%;
                transform: rotate(calc(360deg / -8 * var(--i)));
                transition: 0.5s;
                box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);

                &:hover{
                    color: #ff1252;
                }
            }
        }
    }

    .active {

        .toggleBtn{
            transform: rotate(315deg);
            color: #ff1252;
        }

        li{
            transform: rotate(calc(360deg / 8 * var(--i)));
        }
    }
}